/* ----------------------------
 *
 * Global
 *
 * --------------------------- */
html {
  position: relative;
  z-index: 1;
  min-height: 100%;
  letter-spacing: 0.1px;
}
html body {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  min-height: 100%;
  background-color: #fff;
  overflow-x: hidden;
}
html.frontend body {
  font-size: 14px;
}
.app-loading,
.sidebar-open-rtl,
.sidebar-open-ltr {
  overflow: hidden;
}