/* ----------------------------
 *
 * Template Section
 *
 * --------------------------- */
section.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
section.section .section-title {
  text-transform: uppercase;
}
section.section .section-header {
  padding-bottom: 50px;
}
section.section .section-header > .section-title {
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}
section.section .section-header > .section-title:after {
  position: relative;
  display: block;
  content: '';
  height: 3px;
  width: 50%;
  margin: 10px auto 0px auto;
  background-color: #ecf0f1;
}
section.section .section-header.no-border > .section-title:after {
  display: none;
}